<section class ="container-fluid" id="mycarousel">
  <div class="container">
    <%= carousel_for(["/assets/carousel1.jpg","/assets/carousel2.jpg","/assets/carousel3.jpg","/assets/carousel4.jpg"]) %>
  </div>
</section>
<div class="container-fluid" id="presentation">
  <section class="container">
    <div class="row marketing headline">
      <section class="col-lg-6">
        <h1 class="text-center"> New Articles </h1>
          <article>
            <h4> Power rankings for S3 are out now </h4>
            <p> Ipsum grab'em by the pussy Trump FR, It US french military strike ALep Syria Lol CS GO Battlefield Test I like to Clinton Bernie Sanders OP</p>
            <button type="button" class="btn btn-md btn-warning rmbtn">Read More</button>
          </article>
        <article>
          <h4> Power rankings for S3 are out now </h4>
          <p> Ipsum grab'em by the pussy Trump FR, It US french military strike ALep Syria Lol CS GO Battlefield Test I like to Clinton Bernie Sanders OP</p>
          <button type="button" class="btn btn-md btn-warning rmbtn">Read More</button>
        </article>
        <article>
          <h4> Power rankings for S3 are out now </h4>
          <p> Ipsum grab'em by the pussy Trump FR, It US french military strike ALep Syria Lol CS GO Battlefield Test I like to Clinton Bernie Sanders OP</p>
          <button type="button" class="btn btn-md btn-warning rmbtn">Read More</button>
        </article> 
      </section>
      <section class="col-lg-6">
        <h1 class="text-center"> Fantasy </h1>
        <img src="assets/fantasy_img.jpg" alt="fantasy" id="fantasy_img">          
      </section>
    </div>
  </section>
</div>