/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Demonized';
  src: font-url('Demonized.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

header { 

height: 70px;
padding: 12px;
text-align: right;
border-bottom:1px solid #f9b200;
}


.btn-lg, .btn-group-lg > .btn {
    margin: auto 0.8rem;
    font-size: 1.7rem;
    font-family: 'Demonized', sans-serif;
}

.navigation_bar {
  height: 80px;
  border-bottom:1px solid #f9b200;
}


.nav a {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  height: 2.3em;
  margin: 0.6em 0px;

}

#mycarousel {
  padding: 30px;
  width: 100%;
  border-bottom:1px solid #f9b200;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

body {
  
background: black url(/assets/bg.jpg) fixed no-repeat center center;
height: 100%;
background-size: 100% 100%;
}

.headline {  
  color: white;
  float: left;
  
  h1 {
    border-bottom: 1px solid #f9b200;
    padding: 10px;
  }

  h4 { padding: 5px;
    text-decoration: underline;}

  img {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }

}

article {
  margin-bottom: 15px;
  display: inline-block;
}

.rmbtn {
  float: right;
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
}


