// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
  .well {
    color: black;
    
    label {
      font-size: 3rem;
    }
  }
  .ck-field {
    color: black;
  }
  article.card-container {
    font-size: 2rem;
    font-family: "Helvetica", sans-serif;
    
    h2 {
      border-bottom: 1px solid black;
      padding: 1rem 2rem 2rem 2rem;
      font-family: 'museo_slab500', "Helvetica", sans-serif;
    }
    
    p {
      padding: 1rem;
    }
  }
}